<div>
  <div>
    <strong><%= Report.human_attribute_name(:title) %>:</strong>
    <%= report.title %>
  </div>

  <div>
    <strong><%= Report.human_attribute_name(:content) %>:</strong>
    <%= report.content %>
  </div>

  <div>
    <strong><%= Report.human_attribute_name(:name) %>:</strong>
    <%= report.user.name %>
  </div>

  <div>
    <strong><%= Report.human_attribute_name(:created_at) %>:</strong>
    <%= report.created_at.strftime('%Y年%m月%d日') %>
  </div>

  <br>
</div>
