<h1><strong><%= @report.user.name %>さんの日報</strong></h1>

<%= render 'report', report: @report %>

<%= link_to t('views.common.back', name: Report.model_name.human), reports_path %> |

<% if current_user == @report.user %>
  <%= link_to t('views.common.edit', name: Report.model_name.human), edit_report_path(@report) %> |
  <%= link_to t('views.common.destroy', name: Report.model_name.human), @report, data: { turbo_confirm: t('views.common.delete_confirm'), turbo_method: :delete } %> |
<% end %>

<%= render 'comments/comment_section', path: new_report_comment_path(@report), comments: @comments %>
